@import '../../variables';


.featuredProductPropertiesAmpuleNesavrsenost{
    .titleInner{
        justify-content: center;
    }
}

.contAmpuleNesavrsenosti{
    max-width: 57.625rem;
    width: 57.625rem;
}