@import '../variables.scss';

#titleLaserTehnologija{
    background: url("../../public/images/tehnologije/laserTehnologija/laserBackground.png") no-repeat;

    .hero-body{
        padding: 3rem 1.5rem;
    }
    .imgTitleSphere{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .title{
        font-weight: 500;
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;
        color: #fff;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
   .pretitle{
       font-weight: 700;
       font-size: 1rem;
       line-height: 1.5rem;
       text-align: center;
       color: #fff;
       text-transform: uppercase;
       margin-top: 1.25rem;
       margin-bottom: 0px;
   }
}

#laserBody{
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: center;

    .titlePart{
        width: 41.25rem;
    }
  
}
.laserTitle{
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-align: center;
    color: $primaryGreen;
}
.laserSubtitle{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: $primaryText;
}

#principLaser{
    display: flex;
    justify-content: center;
    align-items: center;
    .is-left{
        padding-right: 4.25rem;
        text-align: right;
    }
    .is-right{
        padding-left: 0px;
        .laserTitle{
            margin-bottom: 1rem;
        }
        .laserTitle, .laserSubtitle{
            text-align: left;
        }
        ._inner{
            width: 27rem;
        }
    }
}
#principLaser, #diodniLaser{
    .container{
        display: flex;
        justify-content: center;
    }
    .columns{
        max-width: 55.5rem;
    }
}

#diodniLaser{
    display: flex;
    justify-content: center;   
    align-items: center;
    padding-top: 4rem;

    .is-left{
        display: flex;
        justify-content: right;
        .laserSubtitle, .laserTitle{
            text-align: left;
        }
        ._inner{
            width: 28rem;
        }
        .secondPart{
            padding-top: 1.5rem;

            .blueTitle{
                font-weight: 500;
                font-size: 1.375rem;
                line-height: 2rem;
                color: $titleColor;
                margin-bottom: 1rem;
            }
        }
        .greenCheckSpacing{
            float: left;
        }
        .odlikeItem{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $titleColor;
            display: flex;
            margin-bottom: 0.75rem;
        }
    }

}

#t_Outro{
    padding-top: 4rem;
    .container{
    display: flex;
    justify-content: center;
    }
    .columns{
        width: 55.5rem;
    }
    .innerOutro{
        padding: 1rem 10.625rem;
        background-color: #EDEFE5;
        border-radius: 0.5rem;
    }
    .outroMessage{
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $primaryGreen;
    }
}

#t_Ponuda{
    padding-top: 4.5rem;
    padding-bottom: 5.5rem;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
   
    .columns{
        display: flex;
        justify-content: center;
        
    }
    .ponudaColumn{
        display: flex;
        justify-content: center;
        max-width: 41.25rem;
        background-color: #fff;
        border-radius: 6px;
        padding: 0;
    }
    ._inner{
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;

        .titlePonuda{
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.5rem;
            color: $titleColor;
            margin-bottom: 1rem;
            max-width: 25.375rem;
        }
        .subtitlePonuda{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $primaryText;
            margin-bottom: 0px;
        }
        .buttonPonuda{
            margin-top: 1.5rem;
            display: inline-flex;
        }
    }

}