@import '../variables.scss';

 
#titleLedTehnologija{
    background: url("../../public/images/tehnologije/laserTehnologija/laserBackground.png") no-repeat;

    .hero-body{
        padding: 3rem 1.5rem; 
    }
    .imgTitleSphere{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .title{
        font-weight: 500;
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;
        color: #fff;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
   .pretitle{
       font-weight: 700;
       font-size: 1rem;
       line-height: 1.5rem;
       text-align: center;
       color: #fff;
       text-transform: uppercase;
       margin-top: 1.25rem;
       margin-bottom: 0px;
   }
}

#ledAbout{
    padding-top: 3rem;
    .container{
        // max-width: 69.75rem;
    }
    .columns{
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           display: block;
            }
    }
    .iplAparatiTitle{
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 2.25rem;
        text-align: left;
        color: $primaryGreen;
    }
    .iplAparatiTxt{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: left;
        color: $primaryText;
    }
    ._innerImage{
        display: flex;
        justify-content: center;
    }
}

#ledColors{
    padding-top: 3rem;

    .ledColorsHeaderColumn{
       display: flex;
       justify-content: center;
    }
    .columns{
        justify-content: center;
    }
    .ledColorsHeader{
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 1.875rem;
        text-align: center;
        color: $titleColor;
        // width: 41.25rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: auto;
            }
    }

    .ledColorsContainer{
        padding-top: 3rem;
        // width: 84.125rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: auto;
            }

        .innerZelenaLed{
            margin-bottom: 1rem;
        }
        ._innerLeft{
            // width: 27rem;
            height: 18.563rem;
            border-radius: 0.5rem;
            background-color:  rgba(255, 255, 255, 0.95);
            text-align: center;
            box-shadow: 0px 2px 0.5rem rgba(0, 0, 0, 0.12);
            
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
              width: auto;
              height: 20rem;
                }

            .colorBgLedZelena{
                background-color: #A8CC59;
                height: 6.5rem;
                border-radius: 0.5rem 0.5rem 0 0;
            }
            .colorBgLedPlava{
                background-color: #2E3371;
                height: 6.5rem;
                border-radius: 0.5rem 0.5rem 0 0;
            }
           
            .contentZelena, .contentPlava{
                position: relative;
                top: -25%;
            }
        }
        .titleLedColors{
            color: $titleColor;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.5rem;
            text-align: center;
            margin-bottom: 0.5rem;
        }
        .contentLedColors{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            color: $primaryText;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 2.5rem;
        }

        ._innerRight{
            // width: 55.5rem;
            height: 26.063rem;
            border-radius: 0.5rem;
            background-color:  rgba(255, 255, 255, 0.95);
            text-align: center;
            box-shadow: 0px 2px 0.5rem rgba(0, 0, 0, 0.12);
            
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
             width: auto;
             height: 49rem;
                }
                @media only screen and (min-device-width : 320px) and (max-device-width : 370px) {
                    width: auto;
                    height: 52rem;
                       }

            .colorBgLedCrvena{
                background-color: #C74750;
                height: 6.5rem;
                border-radius: 0.5rem 0.5rem 0 0;
            }
            .contentCrvena{
                position: relative;
                top: -18%;
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    top: -5rem;
                    }
            }
           
        }
        .innerRightDown{
            // width: 55.5rem;
            height: 11rem;
            background-color: #EBEBEB;
            border-radius: 0.5rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 0.5rem rgba(0, 0, 0, 0.12);
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: auto;
                height: auto;
                }
            .textContent{
                color: $titleColor;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                padding-left: 2.438rem;
                padding-right: 2.438rem;
                padding-top: 3.031rem;
                padding-bottom: 3.031rem;
            }
        }
    }
}

#elektromagnetskaEnergija{
    padding-top: 2.125rem;

    .container{
        // width: 69.75rem;
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: auto;
            }
    }
    .colsElektromagnetska{
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: block;
            }
    }
}

#tretmaniLed{
    padding-top: 1rem;

    .tretmaniFourColumns{
        padding-top: 3.438rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding-top: 1rem;
            }
       .column{
        padding-right: 5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding-right: 0.75rem;
            }
       }

        .tretmaniSingleTitle{
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 700;
            color: $titleColor;
            padding-bottom: 4px;
            margin-bottom: 0;
            display: block;
            &:hover{
                color: $primaryGreen;
            }
        }
        .innerTretmaniSingle p{
            width: 16.375rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: auto;
                }
        }
        .innerTretmaniSingle img{
            padding-bottom: 1rem;
        }
        .prviTretman::after{
            position: absolute;
            content: url(../../public/images/tehnologije/ledTehnologija/tretmaniLine1.svg);
            top: 30%;
            left: 10%;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               display: none;
                }
        }
        .drugiTretman::after{
            position: absolute;
            content: url(../../public/images/tehnologije/ledTehnologija/tretmaniLine2.svg);
            top: 25%;
            left: 35%;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               display: none;
                }
        }
        .treciTretman::after{
            position: absolute;
            content: url(../../public/images/tehnologije/ledTehnologija/tretmaniLine1.svg);
            top: 30%;
            left: 60%;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                display: none;
                }
        }
        
    }
}

#korisniciTretmana{
    padding-top: 2rem;

    .container{
        display: flex;
        justify-content: center;
    }
    .columnsKorisnici{
        // width: 55.5rem;
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
          display: block;
             }
    }
}

#tarifeLed{
    padding-top: 2rem;

    .colTarife{
        display: flex;
        justify-content: center;
        // @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        //    display: block;
        //     }
    }
    .subtitleTarife{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: $titleColor;
        text-align: center;
    }

    .containTarife{
        display: flex;
        justify-content: center;
    }
    .tarifeCol{
        width: 41.25rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: auto;
            }

        .leftCol{
            padding-left: 0;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               padding-left: 0.75rem;
                }
        }
    }
    .leftTarife, .rightTarife{
        // width: 19.875rem;
        width: auto;
        border-radius: 7px;
        background-color: $titleColor;
    }
    .innerTarife{
        padding: 2rem;
        .is-right{
            float: right;
        }
        .tarifePrice{
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 2.93rem;
            color: #fff;
            margin-bottom: 0;
        }
        .tarifeDesc{
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.625rem;
            color: #fff;
        }
    }
}

#ledTeh_Outro{
    padding-top: 0;
    .container{
        display: flex;
        justify-content: center;
        }
        .columns{
            width: 41.25rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: auto;
                 }
        }
        .column{
            padding-left: 0;
            padding-right: 0;
            
        }
        .innerOutro{
            padding: 1rem;
            background-color: #EDEFE5;
            border-radius: 0.5rem;
        }
        .outroMessage{
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $primaryGreen;
        }
}

#ledVideo{
    padding-top: 1rem;

    .container{
        display: flex;
        justify-content: center;
    }
    .videoLedInner{
        border-radius: 6px;
        iframe{
            border-radius: 6px;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: auto;
                }
        }
    }
}

#ledPonuda{
    padding-top: 2.5rem;
    padding-bottom: 5.5rem;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
   
    .container{
        display: flex;
        justify-content: center;
    }
    .columns{
        display: flex;
        justify-content: center;
        width: auto;
        padding: 1.25rem 3rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: auto;
            padding: .5rem 1rem;
            }
    }
    .ponudaColumn{
        display: flex;
        justify-content: center;
        // max-width: 41.25rem;
        background-color: #fff;
        border-radius: 6px;
        padding: 0;
    }
    ._inner{
        // padding-top: 1.75rem;
        // padding-bottom: 1.75rem;
        width: auto;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: auto;
            }
        
        .titlePonuda{
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.5rem;
            color: $titleColor;
            margin-bottom: 1rem;
            // max-width: 25.375rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                font-size: 1.75rem;
                 }
        }
        .subtitlePonuda{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $primaryText;
            margin-bottom: 0px;
        }
        .buttonPonuda{
            margin-top: 1.5rem;
            display: inline-flex;
        }
    }
    
    .titleCols{
        padding-bottom: 0;
        .column{
            display: flex;
        justify-content: center;
        }
    }
    
    .ledList{
        display: flex;
        justify-content: center;
        .singleItem{
            display: flex;
            align-items: center;
            // justify-content: center;
            left: 25%;
            position: relative;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               left: auto;
               justify-content: center;
                }
        }
        span{
            padding-right: .6rem;
        }
        a{
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.5rem;
            color: $titleColor;
            margin-bottom: .6rem;
            &:hover{
                color: $primaryGreen;
            }
        }
    }

}
