@use '../../variables' as *;

 .ampSection{
    .leftColMaskaHidratacija{
        .listInner{
            p{
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    width: auto;
                     }
            }
           
        }
       
    }
 }