@import '../../variables';


.leftColMaskaHidratacija{
    .defaultTextMaskaHidr{
        width: 31.313rem;
    }
    
}
.rightColumnMaskaHidr{
    .odlikeItem{
        margin-bottom: 0 !important;
    }
    .detailsList{
        margin-bottom: 0.5rem !important;
    }
}