@import '../../variables';


.leftColMaskaHidratacija{
    .defaultTextMaskaHidr{
        width: 31.313rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: auto;
            }
    }
    
}
.rightColumnMaskaHidr{
    .odlikeItem{
        margin-bottom: 0 !important;
    }
    .detailsList{
        margin-bottom: 0.5rem !important;
    }
} 