@import '../../variables';


#featuredProduct{
    .colsHidrozastitnaEmulzija{
        width: 56.125rem !important;
    }
} 

.bottomColEmulzija{
    justify-content: center;
    .titleInner{
        display: flex;
        justify-content: center;
       
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            justify-content: left;
            }
    }
    .listInner{
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: block;
            }
        .detailsList{
            padding-right: 1.5rem;
        }
        .greenCheckSpacing{
            flex-grow: 0;
            height: auto !important;
            padding-right: 1rem !important;
        }
        .odlikeItem{
            margin-bottom: 0 !important;
        }
    }
    
}

.featuredProductEmulzija{
    .textPart{
        display: flex;
        justify-content: center;
    }
    .eighteenTitle{
        width: 62.875rem;
    }
}