@import '../../variables';


#featuredProduct{
    .colsProtivNesavrsenosti{
        width: 57rem !important;
    }
}

.detailsRevitalizacija{
    padding-bottom: 5.5rem;
    .blueTitle{
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }
    .detailsList{
        justify-content: left !important;
    }
    .lastdetailsList{
        margin-bottom: 2rem;
    }
    .odlikeBlueItem{
        color: $titleColor;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .is-left{
        ._inner{
            width: 37.5rem !important;
        }
    }
    
}