@use '../../variables' as *;


#featuredProduct{
    .leftColumnLiposomska{
        display: flex;
        justify-content: left;
        padding-right: 3.125rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           padding-right: 0.75rem;
            }
    }
    .rightColumnLiposomska{
        width: 33rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: auto;
            }
    } 
    .colsLiposomska{
        width: 57rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: auto;
            }
    }
}

.efektiLiposomskaVoda{
    .titleInner{
        display: flex;
        justify-content: center;
      
    }
    .listInner{
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: block;
            }
        .detailsList{
            padding-right: 1.5rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                padding-right: .75rem;
                margin-bottom: .75rem;
                }
        }
        .greenCheckSpacing{
            flex-grow: 0;
            height: auto !important;
            padding-right: 1rem !important;
        }
        .odlikeItem{
            margin-bottom: 0 !important;
           
        }
    }
}