@use '../variables' as *;

.fotoepilacijaHeader{
     background-image: url('../../public/images/usluge/fotoepilacija/header.png') !important;
     background-repeat: no-repeat;
     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        background-image: linear-gradient(0deg, rgba(172, 199, 110, 0.75), rgba(172, 199, 110, 0.75)), url('../../public/images/usluge/fotoepilacija/fotoepilacija-mob.jpg') !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        } 
}

#definicijaFotoepilacija{
    padding-top: 4.5rem;
    
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.5rem;
        } 
    
    .titleDefinicijaFotoepilacija{
        font-size: 2rem;
        line-height: 3rem;
        color: $primaryGreen;
        font-weight: 700;
        margin-bottom: 1rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            font-size: 1.5rem;
            }
    }
    .contentDefinicijaFotoepilacija{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.75rem;
        color: $primaryText;
    }
    .videoCol{
        display: flex;
        justify-content: right;
        .videoInner{
            .videoPl{
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    width: 90vw !important;
                    height: 258px !important;
                     }
            }
            
        }
    }
}

#prijePoslije{
    padding-top: 4rem;
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       padding-left: 1rem;
       padding-right: 1rem;
         }
         
    .column{
        padding: 0;
    }
    .leftCol{
        background-color: #EBEBEB;
        border-radius: 0.5rem;
        margin-right: 1.5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-right: 0;
            width: auto;
             }
    }
    .rightCol{
        background-color: #EDEFE5;
        border-radius: 0.5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: auto;
             }
    }
    .inner{
        padding: 2rem 5.125rem 4rem 3rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding: 1rem 0.125rem 2rem 1rem;
             }
             
        .prijeTitle{
            font-weight: 700;
            font-size: 2rem;
            line-height: 3rem;
            color: $titleColor;
            margin-bottom: 1.688rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                font-size: 1.7rem;
                 }
        }
        .singleItem{
           display: flex;
           padding-bottom: 0.5rem;
           .turqCircle{
               padding-right: 1rem;
           }
            .singleText{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $titleColor;
            }
            .grenSpan{
                font-weight: 700;
                color: $primaryGreen;
            }
        }
    }
}

#ljekarskaFotoepilacija{
    padding-top: 3rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5rem;
         }
         
         .columns{
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                margin-left: 0;
                margin-right: 0;
                 }
         }
    .column{
        padding: 0;
    }
    .leftCol{
         font-size: 1.5rem;
         
         @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: auto;
             }
        .upitnik{
            font-weight: 700;
            font-size: 2rem;
            line-height: 3rem;
            color: #fff;
            background-color: #43B5B5;
            width: 3.5rem;
            height: 3.5rem;
            text-align: center;
            border-radius: 1.875rem;
            align-items: center;
            margin-bottom: 0.75rem;
            display: flex;
            justify-content: center;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: 2.5rem;
            height: 2.5rem;
                 }
        }
        .upitnikTitle{
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2.25rem;
            color: #0F1C49;
            margin-bottom: 0.5rem;
        }
        .upitnikSub{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.75rem;
            color: $primaryText;
        }
    }
    .rightCol{
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: auto;
           padding-top: 1rem;
             }
        .lokacijeBox{
            background-color: #fff;
            border-radius: 0.75rem;
            height: 17.375rem;
            
            .doctorImg{
                display: inline-flex;
                float: right;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        .inner{
            padding: 2rem 10.25rem 2rem 2rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                padding: 1rem 0.25rem 1rem 1rem;
                 }
                 
            .top{
                display: flex;
                margin-bottom: 1rem;
                .doctorIcon{
                    padding-right: 1.5rem;
                }
                .podrskaTitle{
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 1.95rem;
                    color: $primaryGreen;
                    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        font-size: 1.1rem;
                         }
                }
            }
            .topSub{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $titleColor;
                margin-bottom: 2rem;
                position: relative;
                z-index: 99;
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    font-size: 0.9rem;
                     }
            }
            .bottom{
                .lokacijeButton{
                    position: relative;
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: #fff;
                    background-color: $primaryGreen;
                    padding: 1rem 2rem;
                    border-radius: 6px;
                    display: inline-flex;
                    float: left;
                    z-index: 999;
                    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        padding: 0.5rem 1rem;
                         }
                }
               
            }
        }
    }
}

#uklanjanjeDlacica{
    padding-top: 5rem;
    
    .topCols{
        display: flex;
        justify-content: center;
    }
    .dlaciceTitle{
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 2.25rem;
        color: $primaryGreen;
        margin-bottom: 1rem;
    }
    .dlaciceSub{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $primaryText;
    }
    .secondRow{
        padding-top: 3rem;
    }
    .txtCols{
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: block;
             }
    }
}

#koraciFotoepilacije{
    padding-top: 2rem;
    
    .topCols{
        margin-bottom: 0;
        padding-bottom: 0;
        .column{
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    .koraciTitle{
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 2.25rem;
        color: $primaryGreen;
        margin-bottom: 0;
    }
    .triKoraka{
        padding-top: 3.3rem;
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: block;
            padding-top: 2rem;
            }
    }
    .korakBroj{
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
        color: #fff;
        background-color: #43B5B5;
        width: 3.5rem;
        height: 3.5rem;
        text-align: center;
        border-radius: 1.875rem;
        align-items: center;
        margin-bottom: 0.75rem;
        display: flex;
        justify-content: center;
    }
    .korakTitle{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: $titleColor;
        margin-bottom: 0.5rem;
    }
    .korakContent{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.75rem;
        color: $primaryText;
    }
}

#preporuke{
    padding-top: 3.5rem;
    padding-bottom: 5.5rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding-top: 1.5rem;
        }
    
    .txtBox{
        background-color: #EDEFE5;
        border-radius: 0.5rem;
        .inner{
            padding: 4rem 7.125rem 4rem 4rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               padding: 2rem 2rem 2rem 2rem;
                }
            
            .preporukeTitle{
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: $titleColor;
                margin-bottom: 0.5rem;
            }
            .preporukeContent{
                margin-bottom: 0;
            }
        }
    }
}
#hR{
    hr{
        height: 1px;
        background-color: #E1E1E1;
        color: #E1E1E1;
    }
}

.fotoepilacijaZone{
    padding-top: 3rem;
    
    .diodniIMG{
        max-width: 19.875rem;
        max-height: 15.063rem;
    }
}


#scndTitle{
    
    .scnTitle{
        color: $primaryGreen;
        font-size: 4rem;
        font-weight: 400;
        line-height: 5.5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 0;
            }
    }
    .blueSub{
        font-size: 1.75rem;
        line-height: 2.5rem;
        font-weight: 500;
        color: $titleColor;
    }
}

#greenWhite{
    
    .whiteCol{
        background-color: #fff;
        border-radius: .5rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .titleGreen{
            font-size: 4rem;
            font-weight: 500;
            color: $primaryGreen;
            line-height: 4.5rem;
            margin-bottom: 0;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               font-size: 2.3rem;
                }
        }
    }
    .greenCol{
        background-color: $primaryGreen;
        border-radius: .5rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .titleGreen{
            font-size: 4rem;
            font-weight: 500;
            color: #fff;
            line-height: 4.5rem;
            margin-bottom: 0;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               font-size: 2.3rem;
                }
        }
    }
    .defaultWhitegreen{
        font-size: 1.25rem;
        line-height: 2rem;
        color: black;
    } 
}
.imgSection{
    img{
        border-radius: .5rem;
    }
}
.imgSectionFotoep{
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        display: none;
        }
}
#seguro{
    
    .imgCol{
        img{
            border-radius: .5rem;
        }
    }
    .blueSub{
        font-size: 2.75rem;
        line-height: 3.5rem;
        font-weight: 500;
        color: $titleColor;
    }
}