@import '../variables';

.fotopodmladjivanje{
    background-image: url('../../public/images/usluge/izbjeljivanje-zuba/header.png') !important;
}

.definicijaIzbjeljivanje{
    padding-top: 4rem !important;
}

#led{
    padding-top: 5rem;
    .columns{
        justify-content: space-between;
    }
    .imgCol{
        display: flex;
        justify-content: right;
    }
    .ledEstTitle{
        font-weight: 500;
        color: $primaryGreen;
        font-size: 1.75rem;
        line-height: 2.25rem;
        margin-bottom: 1rem;
    }
    .ledEstSub{
        font-weight: 400;
        color: $primaryText;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }
    .ledEstGreen{
        font-weight: 700;
        color: $primaryGreen;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

#hrLed{
    padding-top: 5.5rem;
    padding-bottom: 3rem;
    hr{
        height: 1px;
        background-color: #E1E1E1;
        margin: 0;
    }
}

#tretman{
    
    .titleCols{
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem;
    }
    .titleCol{
        .tretmanTitle{
            font-weight: 500;
            color: $titleColor;
            font-size: 1.75rem;
            line-height: 2.45rem;
            margin-bottom: 1rem;
        }
        .tretmanSub{
            font-weight: 400;
            color: $primaryText;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    .colsHor{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .imgCols{
        padding-top: 2rem;
    }
    .singleItem{
        display: inline-flex;
        padding-right: 2.5rem;
        .greenCheck{
            padding-right: 1rem;
        }
        .singleItemT{
            font-weight: 700;
            color: $titleColor;
            font-size: 1.125rem;
            line-height: 1.688rem;
        }
    }
}

#pojacaj{
    padding-top: 2rem;
    .columns{
        justify-content: center;
    }
    .imgCol{
        img{
            padding: 1.813rem 1.75rem;
            background-color: #fff;
            border-radius: 0.75rem;
            box-shadow: 6px 0.625rem 1.563rem rgba(0, 0, 0, 0.1);
        }
    }
    .rigtCol{
        
        .rezultTitle{
            font-weight: 700;
            color: $titleColor;
            font-size: 1.75rem;
            line-height: 2.438rem;
            margin-bottom: 0.5rem;
        }
        .rezultSub{
            font-weight: 400;
            color: $primaryText;
            font-size: 1rem;
            line-height: 1.75rem;
        }
        .list{
            padding-top: 2rem;
        }
        .singleList{
            display: flex;
            margin-bottom: 0.5rem;
            .greenCheck{
                padding-right: 1rem;
            }
            .singleListTxt{
                font-weight: 700;
                color: $titleColor;
                font-size: 1.125rem;
                line-height: 1.688rem;
            }
        }
    }
}

.cijenaIzbjeljivanje{
    padding-top: 8rem !important;
    
    .priceTagCols{
        .txtCol{
            justify-content: center !important;
        }
        .singleItemTop, .singleItem{
            width:  30.063rem !important;
        }
        .middleItem{
            border-radius: 0 !important;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        }
       .bottomItem{
        border-radius: 0 0 0.5rem 0.5rem !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
       }
    }
}