@import '../variables';


.breadcrumbsUsluge{
    a{
        color: #fff !important;
    }
    li{
        &::after{
          content: url(../../public/images/chevron-white.svg) !important;
        }
}
}


#uslugeHeader{
    background-image: url('../../public/images/usluge/laserska-epilacija/header.png');
    background-repeat: no-repeat;
    height: 26.125rem;
    
    &::before{
        content: url('../../public/images/usluge/whiteLeft.svg');
        position: absolute;
        left: -2.625rem;
        top: 22.938rem;
    }
    &::after{
        content: url('../../public/images/usluge/whiteRight.svg');
        position: absolute;
        right: 0.065rem;
        top: 3.25rem;
    }
    
    .headerColsUsluge{
       
    }
    .titlePart{
        padding-top: 4.75rem;
        .titleUsluge{
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 3.25rem;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
        }
        .subtitleUsluge{
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.875rem;
            color: #fff;
            text-align: center;
            margin-bottom: 0;
        }
        .uslugeBtn{
            margin-top: 3rem;
        }
    }
}

#oneLiner{
    padding: 2rem 0;
    
    .inner{
        display: inline-flex;
        justify-content: center;
        padding-right: 1.5rem;
    }
    .oneLinerItem{
        font-weight: 700;
        color: $titleColor;
        font-size: 1.125rem;
        line-height: 1.688rem;
    }
    .greenCheck{
        padding-right: 1rem;
    }
}

#savremeneMetode{
    
    .metodeTitleGreen{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: $primaryGreen;
        text-align: center;
    }
    .colsSavremeneMetode{
        .inner{
            padding-right: 4rem;
            .metodeMediumBlue{
                color: $titleColor;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 700;
                text-align: center;
                margin-bottom: 0.5rem;
            }
            .metodeListContent{
                color: $primaryText;
                font-size: 1.5rem;
                line-height: 1.75rem;
                font-weight: 400;
            }
            .turqSphere{
                margin-bottom: 1rem;
            }
        }
    }
    .colsSavremeneMetodeBott{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
}

#hR{
    padding: 3rem 0;
    hr{
        background-color: #E1E1E1;
        height: 1px;
        margin: 0;
    }
}

#nasDiodniLaser{
    
    .columns{
        display: flex;
        justify-content: center;
    }
    .imgCol{
        width: fit-content;
        margin-right: 6.25rem;
    }
    .titleDiodni{
        margin-bottom: 0.5rem;
    }
    .subtitleDiodni{
        color: $titleColor;
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    .innerList{
        margin-bottom: 2rem;
        .inner{
            display: flex;
            
        }
        .oneLinerItem{
            font-weight: 700;
            color: $titleColor;
            font-size: 1.125rem;
            line-height: 1.688rem;
            padding-bottom: 1rem;
        }
        .greenCheck{
            padding-right: 1rem;
            flex-shrink: 0;
        }
    }
}

#prednostNovello{
    
    .prednostiGreenTitle{
        padding-bottom: 4rem;
    }
    .turqSphere{
        margin-bottom: 1rem;
    }
    .prednostiTitle{
        color: $titleColor;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
    }
    .prednostiContent{
        color: $primaryText;
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .prednostiCols{
       
        padding-bottom: 0;
        .inner{
            padding-bottom: 2.5rem;
        }
    }
    .prednostiColsLower{
       .column{
        padding-top: 0;
        margin-top: 0;
       }
       .inner{
        padding-bottom: 0;
    }
    }
}
.diodniIMG{
    height: 100%;
}
#diodniZone{
    
    .container{
        background-color: #EDEFE5;
        border-radius: 0.5rem;
    }
    .cijenaIcon{
        // margin-bottom: 1rem;
    }
   .titleCijena{
       font-weight: 700;
       font-size: 2rem;
       line-height: 3rem;
       color: #0F1C49;
       text-align: center;
       margin-bottom: 0.5rem;
   }
   .subtitleCijena{
       font-weight: 400;
       font-size: 1.25rem;
       line-height: 1.875rem;
       color: $titleColor;
   }
   .padMinus{
       position: relative;
       top: -3rem;
       padding-bottom: 0;
       margin-bottom: 0;
   }
   .padMinusCols{
    margin-bottom: -2rem;
   }
   
   .priceTagCols{
       display: flex;
       justify-content: center;
       
       .leftCol{
           display: flex;
           justify-content: right;
       }
       .priceBox{
           background-color: $titleColor;
           border-radius: 7px;
           width: 19.875rem;
        .inner{
           padding: 2rem;
        }
       }
       .priceTag{
           margin-bottom: 0.5rem;
       }
       .priceTitle{
           font-weight: 700;
           color: #fff;
           font-size: 2.5rem;
           line-height: 2.93rem;
           margin-bottom: 0.5rem;
       }
       .priceSubtitle{
        font-weight: 400;
        color: #fff;
        font-size: 1.125rem;
        line-height: 1.625rem;
       }
   }
   .txtCols{
       display: flex;
       justify-content: center;
   }
   .txtCol{
    max-width: 34rem;
    }
    .txtPar{
        font-weight: 400;
        color: $titleColor;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

#naruciteBottom{
    padding-top: 2.5rem;
    padding-bottom: 5.5rem;
    
    .imgCol{
        display: flex;
        justify-content: right;
    }
    .txtPart{
        width: 28.5rem;
        background-color: #fff;
        border-radius: 0 6px 6px 0;
        .inner{
            padding: 4rem 3.563rem 4rem 2.5rem;
        }
    }
    .titleNarudzba{
        font-weight: 400;
        color: $titleColor;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }
    .subtitleNarudzba{
        font-weight: 700;
        color: $primaryGreen;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 0;
    }
}