@import '../variables';


.breadcrumbsUsluge{
    a{
        color: #fff !important;
    }
    li{
        &::after{
          content: url(../../public/images/chevron-white.svg) !important;
        }
}
}
 

#uslugeHeader{
   
    background-repeat: no-repeat;
    height: 26.125rem;
    
    &::before{
        content: url('../../public/images/usluge/whiteLeft.svg');
        position: absolute;
        left: -2.625rem;
        top: 26.938rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           display: none;
          }
    }
    &::after{
        content: url('../../public/images/usluge/whiteRight.svg');
        position: absolute;
        right: -0.935rem;
        top: 7.95rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: none;
           }
    }
    
    .headerColsUsluge{
       
    }
    .titlePart{
        padding-top: 4.75rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding-top: 3.75rem;
          }
        .titleUsluge{
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 3.25rem;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                font-size: 2rem;
               }
        }
        .subtitleUsluge{
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.875rem;
            color: #fff;
            text-align: center;
            margin-bottom: 0;
        }
        .uslugeBtn{
            margin-top: 3rem;
        }
    }
}
.laserskaEpilacijaHeader{
    background-image: linear-gradient(0deg, rgba(172, 199, 110, 0.632) 0%, rgba(158, 187, 49, 0.8)), url('../../public/images/usluge/laserska-epilacija/laserska-epilacija-naslovna.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
    background-position-y: 75%;
} 

#oneLiner{
    padding: 2rem 0;
    
    .inner{
        display: inline-flex;
        justify-content: center;
        padding-right: 1.5rem;
    }
    .oneLinerItem{
        font-weight: 700;
        color: $titleColor;
        font-size: 1.125rem;
        line-height: 1.688rem;
    }
    .greenCheck{
        padding-right: 1rem;
    }
}

#savremeneMetode{
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding-right: 1rem;
        padding-left: 1rem;
       }
    
    .metodeTitleGreen{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: $primaryGreen;
        text-align: center;
    }
    .colsSavremeneMetode{
        .inner{
            padding-right: 4rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               padding-right: 0;
               }
            .metodeMediumBlue{
                color: $titleColor;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 700;
                text-align: center;
                margin-bottom: 0.5rem;
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    font-size: 1.2rem;
                    }
            }
            .metodeListContent{
                color: $primaryText;
                font-size: 1rem;
                line-height: 1.75rem;
                font-weight: 400;
            }
            .turqSphere{
                margin-bottom: 1rem;
            }
        }
    }
    .colsSavremeneMetodeBott{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
}

#hR{
    padding: 3rem 0;
    hr{
        background-color: #E1E1E1;
        height: 1px;
        margin: 0;
    }
}

#nasDiodniLaser{
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       padding-right: 1rem;
       padding-left: 1rem;
       }
    .columns{
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: block;
           }
    }
    .imgCol{
        width: fit-content;
        margin-right: 6.25rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-right: 0;
           }
    }
    .titleDiodni{
        margin-bottom: 0.5rem;
    }
    .subtitleDiodni{
        color: $titleColor;
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 700;
        margin-bottom: 2rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            font-size: 1rem;
           }
    }
    .innerList{
        margin-bottom: 2rem;
        .inner{
            display: flex;
            padding-bottom: 1rem;
        }
        .oneLinerItem{
            font-weight: 700;
            color: $titleColor;
            font-size: 1.125rem;
            line-height: 1.688rem;
            padding-bottom: 0;
             font-size: 1.25rem;
             @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                font-size: 1rem;
               }
        }
        .greenCheck{
            padding-right: 1rem;
            flex-shrink: 0;
        }
    }
}

#prednostNovello{
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding-left: 1rem;
        padding-right: 1rem;
       }
    
    .prednostiGreenTitle{
        padding-bottom: 4rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding-bottom: 1rem;
           }
    }
    .turqSphere{
        margin-bottom: 1rem;
    }
    .prednostiTitle{
        color: $titleColor;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    font-size: 1rem;
                   }
    }
    .prednostiContent{
        color: $primaryText;
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .prednostiCols{
       
        padding-bottom: 0;
        .inner{
            padding-bottom: 2.5rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                padding-bottom: 0;
               }
        }
    }
    .prednostiColsLower{
       .column{
        padding-top: 0;
        margin-top: 0;
       }
       .inner{
        padding-bottom: 0;
    }
    }
}
.diodniIMG{
    height: 100%;
}
.diodniZone{
    .diodniIMG{
        max-width: 19.875rem;
        max-height: 15.063rem;
    }
}
#diodniZone{
    padding-top: 3rem;
    
    .container{
        background-color: #EDEFE5;
        border-radius: 0.5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-right: 1rem;
            margin-left: 1rem;
            }
    }
    .cijenaIcon{
        // margin-bottom: 1rem;
    }
   .titleCijena{
       font-weight: 700;
       font-size: 2rem;
       line-height: 3rem;
       color: #0F1C49;
       text-align: center;
       margin-bottom: 0.5rem;
       @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: 1.7rem;
        }
   }
   .titleCijenaPad{
    padding-top: 3rem;
    padding-bottom: 1.5rem;
   }
   .subtitleCijena{
       font-weight: 400;
       font-size: 1.25rem;
       line-height: 1.875rem;
       color: $titleColor;
       @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: 1.1rem;
        // padding-left: 0.5rem;
        // padding-right: 0.5rem;
        }
   }
   .padMinus{
       position: relative;
       top: -3rem;
       padding-bottom: 0;
       margin-bottom: 0;
   }
   .padMinusCols{
    margin-bottom: -2rem;
   }
   
   .priceTagCols{
       display: flex;
       justify-content: center;
       @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       display: block;
       margin: auto;
       text-align: center;
        }
       
       .leftCol{
           display: flex;
           justify-content: right;
           @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: flex;
            justify-content: center;
            // padding-left: 0;
            }
       }
       .priceBox{
           background-color: $titleColor;
           border-radius: 7px;
           width: 19.875rem;
        .inner{
           padding: 2rem;
        }
       }
       .priceTag{
           margin-bottom: 0.5rem;
       }
       .priceTitle{
           font-weight: 700;
           color: #fff;
           font-size: 2.5rem;
           line-height: 2.93rem;
           margin-bottom: 0.5rem;
       }
       .priceSubtitle{
        font-weight: 400;
        color: #fff;
        font-size: 1.125rem;
        line-height: 1.625rem;
       }
   }
   .txtCols{
       display: flex;
       justify-content: center;
       @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        display: block;
        }
   }
   .txtCol{
    max-width: 34rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       max-width: 25rem;
    }
    }
    .txtPar{
        font-weight: 400;
        color: $titleColor;
        font-size: 1rem;
        line-height: 1.5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            }
    }
}

#naruciteBottom{
    .container{
        width: 55.5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: auto;
        }
    }
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        }
    .imgCol{
        display: flex;
        justify-content: right;
        padding-right: 0;
        // width: 27rem;
        // height: 21rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       padding-bottom: 0;
       padding-right: 1rem;
       padding-left: 1rem;
            }
    }
    .gapCol{
        padding-left: 0;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0;
            }
    }
    .txtPart{
        width: 28.5rem;
        background-color: #fff;
        border-radius: 0 6px 6px 0;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: auto;
            border-radius: 0;
            }
            
        .inner{
            padding: 4rem 2.563rem 4rem 2.5rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                padding: 2rem 1.5rem 2rem 1.5rem;
                }
        }
    }
    .titleNarudzba{
        font-weight: 400;
        color: $titleColor;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            font-size: 1.7rem;
            }
    }
    .subtitleNarudzba{
        font-weight: 700;
        color: $primaryGreen;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 0;
    }
}

.pricingTable{
        // width: 55.5rem;
        background-color: #EDEFE5;
        border-radius: 0.5rem;
    
   
        .priceTagCols{
            display: flex;
            justify-content: center;
            padding-bottom: 3rem;
            padding-top: 2.5rem;
            .txtCol{
                display: flex;
                justify-content: center;
                max-width: none;
             .list{
                 .singleItemTop{
                     background-color: $primaryGreen;
                     width: 40rem;
                     height: 3.188rem;
                     margin-bottom: 0;
                     border-radius: 0.5rem 0.5rem 0 0;
                     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        width: 90vw;
                    }
                     .title{
                         font-weight: 400;
                         font-size: 1.1rem;
                         line-height: 1.172rem;
                         color: #fff;
                         margin-bottom: 0 !important;
                     }
                     .price{
                         font-weight: 400;
                         font-size: 1.1rem;
                         line-height: 1.172rem;
                         color: #fff;
                     }
                 }
                 .singleItem{
                     background-color: #fff;
                     width: 40rem;
                     height: 3.575rem;
                     margin-bottom: 2px;
                     border-radius: 0.5rem;
                     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                       height: auto;
                       width: 90vw;
                     }
                     &:hover{
                        background-color: $titleColor;
                        height: 3.675rem;
                        .title{
                            color: #fff;
                            font-size: 1.225rem;
                            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                                font-size: 1rem;
                             }
                        }
                        .price{
                            color: #fff;
                            font-size: 1.225rem;
                            font-weight: 800;
                            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                                font-size: 1rem;
                             }
                        }
                     }
                     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    //    width: 24rem;
                    width: 90vw;
                    }
                 }
                 .upperItem{
                     border-radius: 0 0 0.5rem 0.5rem !important;
                 }
                 .inner{
                     padding: 1rem 1.5rem 1rem 1.5rem;
                     display: flex;
                     justify-content: space-between;
                     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        padding: 0.7rem 0.3rem 0.7rem 0.5rem;
                     }
                 }
                 .title{
                     font-weight: 700;
                     font-size: 1.125rem;
                     line-height: 1.688rem;
                     color: $titleColor;
                     margin-bottom: 0;
                     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        font-size: 1rem;
                     }
                 }
                 .price{
                     font-weight: 700;
                     font-size: 1.125rem;
                     line-height: 1.688rem;
                     color: $primaryGreen;
                     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        font-size: 1rem;
                     }
                 }
             }
            }
            .leftCol{
             //    display: flex;
             //    justify-content: left;
            
            }
            .priceBox{
                background-color: $titleColor;
                border-radius: 7px;
                width: 40rem;
             .inner{
                padding: 2rem;
             }
            }
            .priceTag{
                margin-bottom: 0.5rem;
            }
            .priceTitle{
                font-weight: 700;
                color: #fff;
                font-size: 2.5rem;
                line-height: 2.93rem;
                margin-bottom: 0.5rem;
            }
            .priceSubtitle{
             font-weight: 400;
             color: #fff;
             font-size: 1.125rem;
             line-height: 1.625rem;
            }
        }
        
        .promocijeCols{
            padding-bottom: 2rem;
            .column{
                display: flex;
                justify-content: center;
            }
           
        }
}

#besplatTretmanButton{
    padding-top: 5rem;
    .columns{
        .column{
            display: flex;
            justify-content: center;
        }
    }
    .bespBig{
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-left: .3rem;
       
        }
    .bespTretmanButton{
        background-color: $primaryGreen;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 2rem 4rem;
        border-radius: 100px;
        &:hover{
            .bespBig{
                color: $titleColor;
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    font-size: 1.1rem;
                    }
            }
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding: 2rem .6rem;
            font-size: 1.1rem;
            }
    }
}

#pogledajtePromocije{
    padding-top: 5rem;
    .columns{
        .column{
            display: flex;
            justify-content: center;
        }
    }
}

#pravaBottom{
    .columns{
        .column{
            display: flex;
            justify-content: center;
        }
    }
}