@use '../variables' as *;

.tjelesniUcvrscivacHeader{
    background-image: url('../../public/images/usluge/tjelesni-ucvrscivac/header.png') !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       background-position-x: 20%;
        }
}


.definicijaTjelesni{ 
    
    .contentGreenTjelesni{
        font-weight: 500;
        color: $primaryGreen;
        font-size: 1rem;
        line-height: 1.5rem; 
    }
    .coloredCols{
        background-color: #E2EEEE;
        border-radius: 0.5rem;
        margin-top: 2rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-bottom: 1.5rem;
            }
        .txT{
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $primaryTurquoise;
        }
    }
}

#hrTjelesni{
    padding-top: 4rem;
    padding-bottom: 1rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding-top: 2rem;
        }
    hr{
        background-color: #E1E1E1;
        height: 1px;
        margin: 0;
    }
}

.tretmanTjelesni{
    .colsHor{
        justify-content: center;
    }
    .colHor{
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           display: block;
            }
    }
    .singleItem{
        .singleItem{
            text-align: left !important;
        }
    }
    .titleCols{
        margin-bottom: 2.344rem !important;
        padding-bottom: 0 !important;
        .titleCol{
            padding-bottom: 0 !important;
        }
        .tretmanTitle{
            margin-bottom: 0 !important;
        }
    }
}

.serumTjelesni{
    
    .rightColTjelesni{
        padding-left: 7.563rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           padding-left: 1rem;
            }
    }
    .whiteBack{
        display: flex;
        align-items: center;
    }
}

.cijenaTjelesni{
    padding-top: 3rem !important;
    .singleItemTop, .upperItem{
        width: 30.063rem !important;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: 20rem !important;
            }
    }
    .priceTagCols{
        padding-top: 0 !important;
    }
}

.naruciteTjelesni{
    .titleNarudzba{
        text-transform: uppercase;
    }
}