@import '../variables';
@import '../fonts';

// @font-face {
//     font-family: "BowlingScriptW01-Regular"; 
//     font-display: swap;
//     // src: url("https://db.onlinewebfonts.com/t/aad1dafbe5df4c78ab2f1396cf213de3.eot"); 
//     src: 
//     // url("https://db.onlinewebfonts.com/t/aad1dafbe5df4c78ab2f1396cf213de3.eot?#iefix") format("embedded-opentype"), 
//     url("https://db.onlinewebfonts.com/t/aad1dafbe5df4c78ab2f1396cf213de3.woff2") format("woff2"), 
//     url("https://db.onlinewebfonts.com/t/aad1dafbe5df4c78ab2f1396cf213de3.woff") format("woff"), 
//     // url("https://db.onlinewebfonts.com/t/aad1dafbe5df4c78ab2f1396cf213de3.ttf") format("truetype"), 
//     // url("https://db.onlinewebfonts.com/t/aad1dafbe5df4c78ab2f1396cf213de3.svg#BowlingScriptW01-Regular") format("svg"); 
//     } 


.ultrazvucnoHeader{
    background-image: linear-gradient(0deg, rgba(172, 199, 110, 0.75), rgba(172, 199, 110, 0.75)), url('../../public/images/usluge/ultrazvucno-ciscenje-lica/ultrazvucno-ciscenje-desk.jpg') !important;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-size: cover;
     @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        background-image: linear-gradient(0deg, rgba(172, 199, 110, 0.75), rgba(172, 199, 110, 0.75)), url('../../public/images/usluge/ultrazvucno-ciscenje-lica/ultrazvucno-ciscenje-mob.jpg') !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
}

.ultrazvucnoHeader{
    ._2jvtI{
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            margin-left: 1em !important;
            }
    }
   
}

.definicijaUltrazvucno{
    .titleDefinicijaFotoepilacija, .starenjeTitle{
        text-align: center;
    }
}

#djelovanje{
    padding-top: 4rem;
    
    .djelovanjeTitle{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: $titleColor;
        margin-bottom: 2.5rem;
    }
    .listCols{
        display: flex;
        justify-content: space-around;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: block;
            padding-left: .75rem;
            }
        
    }
    .lictCont{
        display: flex;
        justify-content: center;
    }
    .listCol{
        
        .single{
            display: flex;
            padding-bottom: 1rem;
            .greenCheck{
                padding-right: 1rem;
            }
            .singleItem{
                font-size: 1rem;
                line-height: 1.5rem;
                color: $titleColor;
                font-weight: 700;
            }
        }
    }
}

#savrsenaKoza{
    padding-top: 4rem;
    
    .kozaTitle{
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 500;
        color: $titleColor;
        margin-bottom: 4rem;
    }
    .korakBroj{
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
        color: #fff;
        background-color: #9EBB31;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 1.25rem;
    }
    .korakTitle{
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 2.45rem;
        color: $primaryGreen;
    }
    .turqSphere{
        margin-bottom: 0.75rem;
    }
    .koraciTitle{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: $titleColor;
    }
    .koraciSub{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.75rem;
        color: $primaryText;
    }
    .listCols{
        justify-content: center;
        padding-top: 4rem;
    }
    .verLineCol{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .verLine{
        height: 1px;
        background-color: $primaryGreen;
        width: 3rem;
        -webkit-transform:rotate(90deg);
        transform: rotate(90deg);
    }
    .drugiCols{
        justify-content: center;
    }
    .drugiContent{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $primaryText;
        .boldirano{
            font-weight: 700;
            color: $titleColor;
        }
    }
    .treciCols{
        justify-content: center;
    }
    .imgCol{
        padding-top: 2rem;
    }
}


.cijenaUltra{
        padding-top: 6.75rem;
        
        .container{
            background-color: #EDEFE5;
            border-radius: 8px;
           
        }
       
       .titleCijena{
           font-weight: 700;
           font-size: 2rem;
           line-height: 3rem;
           color: #0F1C49;
           text-align: center;
           margin-bottom: 0.5rem;
       }
       .subtitleCijena{
           font-weight: 400;
           font-size: 1.25rem;
           line-height: 1.875rem;
           color: $titleColor;
       }
       .padMinus{
           position: relative;
           top: -3rem;
           padding-bottom: 0;
           margin-bottom: 0;
       }
       .padMinusCols{
        margin-bottom: -2rem;
       }
       
      .fourCols{
          margin-left: 0;
          margin-right: 0;
        .column{
            padding-right: 0.25rem !important;
            padding-left: 0.25rem !important;
            display: flex;
            justify-content: center;
        }
        .single{
            background-color: #fff;
            border-radius: 0.75rem;
            height: 27.875rem;
            width: 19.875rem;
        }
        .inner{
            padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        }
        .basicPlus{
            padding-right: 0.3rem;
            .titlePart .singleTitle{
                font-size: 1.95rem !important;
                line-height: 2.925rem !important;
            }
        }
        .titlePart{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.652rem;
            .singleTitle{
                font-weight: 700;
                font-size: 2.5rem;
                line-height: 3.25rem;
                color: #EC268E;
                margin-bottom: 1rem;
                font-family: 'Shrikhand', cursive;
                font-weight: 700;
            }
            .basicTitle{
                font-size: 2.25rem !important;
                line-height: 2.925rem !important;
            }
            .singlePrice{
                font-weight: 700;
                font-size: 1.45rem;
                line-height: 1.875rem;
                color: #fff;
                background-color: #EC268E;
                padding: 1.313rem 0.563rem 1.313rem 0.563rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3.125rem;
                height: 4.5rem;
                width: 4.5rem;
                
            }
        }
        .greenItem{
            margin-bottom: 4px;
            display: flex;
            .greenTxt{
                margin-right: 0.5rem;
                color: #fff;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 700;
                background-color: $primaryGreen;
                padding: 0.5rem 0.75rem 0.5rem 0.75rem;
                border-radius: 0.5rem;
                box-shadow: 6px 0.625rem 1.563rem rgba(0, 0, 0, 0.1);
                margin-bottom: 0;
            }
            .plusSign{
                color: $primaryGreen;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 700;
                background-color: #fff;
                padding: 0.5rem 0.75rem 0.5rem 0.75rem;
                border-radius: 0.5rem;
                box-shadow: 6px 0.625rem 1.563rem rgba(0, 0, 0, 0.1);
                margin-bottom: 0;
                display: flex;
                align-items: center;
            }
        }
        .lowerCol{
            display: flex;
            margin-bottom: 3rem;
            .single{
                background-color: #fff;
                border-radius: 0.75rem;
                height: 15.125rem;
                width: 41.25rem;
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                   height: auto;
                   width: auto;
                    }
            }
            .lowerCols{
                .column{
                    display: block;
                }
            }
        }
      }
      .proskinLogo{
        height: 8rem;
      }
}

#imgsSection{
    
    .singleImage{
        .imgTitle{
            text-transform: uppercase;
            color: $primaryGreen;
            text-align: center;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        .defaultText{
            width: 80%;
            text-align: center;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               width: 100%;
                }
        }
    }
    .secondCols{
        padding-top: 3rem;
    }
    .imgCols{
        padding-top: 3rem;
        
        .column{
            display: flex;
            justify-content: center;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               padding: 0;
                }
        a{
            display: flex;
            justify-content: center;
            &:hover{
                img{
                    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
                    transform: scale(1.01);
                }
               
            }
        }
        img{
            width: 90%;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: 100%;
                }
        }
        }
    }
}