
.accordion{
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0.75rem 0px;
}
.subText{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $primaryText;
    margin: 1rem;
}

.hrAccordion{
    height: 1px;
    background:  #E1E1E1;
    margin: none;
    margin-top: 0;
    margin-bottom: 1rem;
}