@use './variables' as *;


#heroTitleBesplatni{
  
    background-image: linear-gradient(0deg, rgba(172, 199, 110, 0.6), rgba(172, 199, 110, 0.6)), url("../public/images/probni-tretman.jpg");
    position: relative;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        bottom: 0.2rem !important;
        }

    .hero-body .title{
        text-transform: none;
        color: #fff;
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 0;
    }
}

#bespTop{
    padding-top: 5rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       padding-top: 2rem;
        }
    .titleCol{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        
        .bespHR{
            flex-grow:1;
        }
        .bespTopTitle{
            flex-grow:0;
            margin-bottom: 0;
            padding-left: 3rem;
            padding-right: 3rem;
            text-transform: uppercase;
        }
    }
    .imgColBesp{
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        img{
            height: 15rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                height: 10rem;
                }
        }
    }
}

#bespMid{
    padding-top: 2rem;
    
    .titlebespMid{
        text-align: center;
        
        color: #fff;
        font-weight: 600;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding-top: 1rem;
            }
    }
    .greenbackColTitle{
        color: $titleColor;
    }
    .bespmidCols{
        display: flex;
        justify-content: center;
    }
    .greenbackCol{
        background-color: $primaryGreen;
        border-radius: 5rem;
    }
    
}

.rightmidCols{
    padding-top: 2rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       padding-top: 0;
        }
    .singlePro{
        background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-bottom: 1rem;
    .inner{
        padding: 1rem;
    }
        .titlePro{
            font-weight: 500;
    font-size: 1.5rem;
  
    color: $titleColor;
        }
        .subtitlePro{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.75rem;
            color: $primaryText;
        }
    }
}

.kontaktBesplatni{
    padding-top: 4rem;
    padding-bottom: 2rem;
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       padding-left: 0;
       padding-right: 0;
        }
    
    .columns{
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           display: block;
            }
    }
    
    .select:not(.is-multiple){
        height: auto;
    }
    .form .terminKontakta {
        margin-top: 0;
      }
      .info-wrap{
        text-align: center;
        color: $titleColor;
        padding-bottom: 1rem;
      }
     .submit-form{
        background-color: $primaryGreen;
        color: #fff;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        padding: 0.75rem 1.5rem;
        border-radius: 6px;
        display: inline-flex;
    }
    .formCol{
        background-color: #fff;
        padding: 2rem;
        border-radius: 6px;
    }
}

#besplatniFormKoraci{
    padding-bottom: 5.5rem;
    
    .brojKoraka{
        color: black;
        font-size: 3rem;
        font-weight: 600;
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }
    .column{
        text-align: center;
        background-color: #fff;
        border-radius: .5rem;
        margin-right: 1rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           margin-right: 0;
           margin-bottom: .7rem;
            }
    }
    img{
        height: 4rem;
        margin-bottom: 1rem;
    }
    .titleCols{
        display: flex;
        justify-content: center;
        .greenbackCol{
            margin-bottom: 1.5rem;
        }
    }
}