@import './variables';


#blogHeader{
    background-color: #ACC76E;
    height: 19.75rem;
    
    .blogHeaderTitle{
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
        color: #fff;
        padding-top: 4.25rem;
    }
}

.postTitle{
    color: $titleColor;
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.375rem;
    margin-bottom: 4px;
}

.postDate{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $primaryGreen;
    margin-bottom: 0.75rem;
}

.postExcerpt{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $primaryText;
    margin-bottom: 1.25rem;
}

.postImage{
    width: 17.875rem;
    height: 14.063rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.postButton{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $primaryGreen;
    display: block;
}


.singlePost{
    background-color: #fff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(66, 71, 76, 0.45);
    border-radius: 8px;
    width: 19.875rem !important;
    height: 33.313rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    .singlePostInner{
        padding: 1rem;
    }
}

.blogList{
    display: flex;
    
}


.naseTehnologije{
    .titleTehn{
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 2rem;
        color: $titleColor;
        margin-bottom: 0.5rem;
    }
    .singleTehn{
        display: block;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $titleColor;
        margin-bottom: 0.75rem;
    }
}
.nasiCentri{
    padding-top: 2.5rem;
    .titleTehn{
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 2rem;
        color: $titleColor;
        margin-bottom: 0.5rem;
    }
    .singleCent{
        display: inline-block;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1rem;
        color: #fff;
        background-color: #9EBB31;
        padding: 0.5rem;
        border-radius: 4px;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
.greenLinesRight{
    margin-bottom: 1rem;
}
