@use './variables' as *;


.p-2{
    display: none;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        display: block;
        position: absolute;
        right: 1rem;
        }
}

#react-burger-menu-btn{
  .text-gray-500{
    background: $titleColor;
  }
}
.text-gray-500{
  color: $titleColor;
}

.bm-burger-button {
  
    width: 36px;
    height: 30px;
    left: 36px;

    top: 36px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }  

  .bm-burger-bars-hover {
    background: $primaryGreen;

  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #fff;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    right: 0;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        right: 0 !important;
        }
    
  }
  
  .bm-menu {
    background: $titleColor;
    padding: 0.3rem 0.3rem 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {

    color: #fff;
    padding: 0.8em;
  }
  
  .bm-item {
    display: inline-block;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    right: 0;
    top: 0;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        right: 0;
        top: 0;
        }
    
  }
/* styling next link component so that will be a column list of links*/
  .bm-item-list a {
    display: flex;
    flex-direction: column;
  }
  
  