@use './variables' as *;


#titleCentri{
    padding-top: 4rem;
    padding-bottom: 1rem;

    .titleTopCentri{
        .title{
            color: $titleColor;
            font-weight: 500;
            font-size: 2.5rem;
            line-height: 3rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}

#centriBoxes{
    padding-bottom: 5.5rem;
    
    .boxCity{
        background: url("../public/images/centri/box-background.png") no-repeat;
        background-size: auto;
        background-position: center;
        position: relative;
       
        border-radius: 0.5rem;
        width: 26.938rem;
        margin-right: 1.5rem;
        &:last-child{
            margin-right: 0;
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: 89vw; 
           margin-bottom: 1rem;
            }
    }
    .last-city{
        justify-content: center;
    }
    .column{
        display: flex;
        justify-content: center;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           display: block;
           padding-bottom: 0;
            }
    }
    .columns{
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            
            margin-bottom: 0;
             }
    }
   
    .boxInner{
        padding: 4rem 2rem 2rem 2rem;
        .centriCityTitle{
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.5rem;
            color: $titleColor;
            margin-bottom: 0;
        }
        .centriCitySubtitle{
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $primaryText;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
            margin-bottom: 0;
        }
        .cityInfoTitle{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $titleColor;
            margin-bottom: 0.5rem;
        }
        .cityInfoContent{
            font-weight: 700;
            font-size: 1rem;;
            line-height: 1.5rem;;
            color: $primaryGreen;
            margin-bottom: 0.5rem;
        }
        .cityDetailsBtn{
            margin-bottom: 2rem;
        }

        .adressInfo{
            .columns{
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                   display: flex;
                    }
            }
            .column{
                display: block;
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                     &:first-child{
                        max-width: 22%;
                     }
                    }
                p{
                    margin-bottom: 0.5rem;
                }
            }
           
            padding-bottom: 2.5rem;
        }
    }

}

.centriCityTitle{
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: $titleColor;
    margin-bottom: 0;
}
.centriCitySubtitle{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $primaryText;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}
.cityInfoTitle{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $titleColor;
    margin-bottom: 0.5rem;
}
.cityInfoContent{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $primaryGreen;
    margin-bottom: 0.5rem;
}