.collapsible .content {

    background-color: transparent;
}
.collapsible .header {
    background-color: transparent;
  
    cursor: pointer;
}

.titleLocation{
    font-weight: 500;
          font-size: 1.25rem;
          line-height: 1.5rem;
          color: #FFFFFF;
          margin-bottom: 0;
          display: flex;
          align-items: center;
}
.collapsible{
    .header{
        display: flex;
        align-items: center;
    }
    
    .content{
        width: 24.5rem;
        color: #FFFFFF;
        padding-top: 1rem;
    }
}