@import './variables';


.slick-slider{
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       background-color: #fff;
        }
}
.singleHeaderSlide{
    background-image: url('../public/images/firstSlideHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 33.25rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       
        height: auto;
        background: none;
        }
}
.singleHeaderSlide1{
    height: 33.25rem;
    background: url('../public/images/laserskaepilacijaheader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       
        height: auto;
        background: none;
        }
}
.singleHeaderSlide2{
    height: 33.25rem;
    background:  url('../public/images/fotoepilacijaheader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        
        height: auto;
        background: none;
        }
}
.headerColTxt{
    padding-top: 4rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        padding-top: 0rem;
        }
}
.preTitleHeaderSlider{
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
    margin-bottom: 1rem !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: 1.5rem;
        }
}
.titleHeaderSlider{
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.375rem;
    text-align: center;
    color: $primaryGreen;
    margin-bottom: 2rem !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: 2.5rem;
        line-height: 2.5rem;
        }
}
.postTitleHeaderSlider{
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.2rem;
    text-align: center;
    color: $primaryGreen;
    margin-bottom: 1rem !important;
    text-align: center;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: 1.2rem;
        line-height: 2rem;
        }
}
.headerColTxt{
    .inner{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
        padding: 2rem;
        margin: auto;
        width: fit-content;
        border-radius: .5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding-top: 4rem;
            }
    }
}

.vidiViseBtn{
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: center;
    color: #fff;
    background-color: $primaryGreen;
    padding: 1rem 2rem;
    border-radius: 6px;
    text-transform: uppercase;
    display: inline-flex;
    margin-top: 1rem;
    &:hover{
        color: $titleColor;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       font-size: 1rem;
       padding: 0.8rem 1.2rem;
        }
}

.bulletPoint{
    display: inline !important;
}

.slick-dots{
    margin-left: 0 !important;
    bottom: 1.863rem !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        bottom: 0.2rem !important;
        }
    
    .slick-active{
        width: 2.188rem;
        height: 1.375rem;
        background-color: $primaryGreen;
        border-radius: 100px;
    }
}
.slick-dots li{
    height: 1.375rem;
    width: 1.375rem;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 100px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        background: $primaryText;
        }
}
.slick-dots li.slick-active button::before{
    color: transparent !important;
}
.slick-dots li button::before{
    color: transparent !important;
}

.slick-prev, .slick-next{
    top: 91.5% !important;
    display: flex !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 999;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        top: 94.5% !important;
        }
}
.slick-next{
    right: 39.688rem !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        right: 7.688rem !important;
        }
}
.slick-prev{
    left: 39.688rem !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        left: 7.688rem !important;
        }
}
.slick-prev::before{
    content: url('../public/images/slick-left.svg') !important;
}
.slick-next::before{
    content: url('../public/images/slick-right.svg') !important;
}

.slick-prev::before, .slick-next::before{
    color: #fff;
    opacity: 1 !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        color: $primaryText !important;
        display: none;
        }
}