@import './variables';
@import './fonts';


.titlePart .title {
  color: $titleColor;
  font-family: $mainFont;
  text-transform: uppercase;
}
.bellowTitle{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.textProfesionalnaKozmetika{ 
  font-family: $mainFont;
  color: $primaryText;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

#homeSubslider{
  padding-bottom: 9.25rem;
  padding-top: 9.25rem;
}
.textStaNovello{
  font-family: $mainFont;
  color: $primaryText;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}

#savremenaDepilacija{
  padding-top: 8.625rem;
  padding-bottom: 8.625rem;
}
.textSavremenaDepilacija{
  font-family: $mainFont;
  color: $primaryText;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.depilacijaTextbox{
  // width: 888px;
  // height: 819px;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(66, 71, 76, 0.45);
  margin-top: 1.25rem;
  border: 1px;
  border-color:#E1E1E1;
}
.depilacijaTextbox hr{
  height: 1px;
  margin: 0;
  color: #E1E1E1;
  // top: 126px;
}
.depilacijaBox ul{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.depilacijaBox li{
  list-style: disc;
  list-style: inside;
}
.depilacijaBox .listTitle::marker{
  color: $primaryGreen;
}
.depilacijaBox .listItem::marker{
  color: $primaryBlue;
}
.depilacijaBox .listTitle{
  color: $titleColor;
  font-family: $mainFont;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}
.extraMargin{
  margin-bottom: 1rem;
}
.depilacijaBox .listItem{
  color: $titleColor;
  font-family: $mainFont;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.318rem;
  margin-bottom: 0.75rem;
  &:last-child{
    margin-bottom: 0;
  }
}
.depilacijaBox{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.threeBoxes{
  display: block;
  float: right;
}
.threeBoxes .firstBox{
  background: #111213;
  border-radius: 7px;
  width: 19.875rem;
  .inner{
    padding: 2rem 1.938rem 2rem 1.938rem;
  }
  .numberEleven{
    font-family: $mainFont;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }
  .firstText{
    font-family: $mainFont;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}
.threeBoxes .secondBox{
  position: relative;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 19.875rem;
  border-radius: 0.438rem;
  border-radius: 0.438rem;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primaryGreen;
    opacity: 92%;
    border-radius: 0.438rem;
    mix-blend-mode: darken;
  }
  .inner{
    background-image: url("../public/images/homepage/partner-bg.png");
    padding-top: 11.063rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    position: relative;
    z-index: 999; 
  }
  .firstTitlePart{
    font-family: $mainFont;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    color: white;
    
  }
  .secondTitlePart{
    font-family: $mainFont;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.93rem;
    color: white;
    
  }
}
.threeBoxes .thirdBox {
  width: 19.875rem;
  background-color: #0F1C49;
  border-radius: 0.438rem;

  .inner{
    padding: 2rem;

  }
  .numberEleven{
    font-family: $mainFont;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }
  .firstText{
    font-family: $mainFont;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

#najcitanijiTitle, #najcitanijiImg, #klijentiTitle, #klijentiImg{
  text-align: center;
}
.testimonialsSub{
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  color: $primaryText;
}

.testimonialSlider{
  padding-top: 3rem;
  padding-bottom: 5.625rem;
}

#mapPart{
  padding-bottom: 5rem;
  // .leftCol{
  //   width: 28.5rem;
  //   .titleBox{
  //     background-color: #0F1C49;
  //     width: 28.5rem;
  //     border-radius: 8px 0px 0px 0px;
  //     p{
  //       font-weight: 400;
  //       font-size: 2rem;
  //       line-height: 2.5rem;
  //       color: #F4F4F4;
  //       padding-top: 1.5rem;
  //       padding-left: 2rem;
  //       padding-bottom: 1.5rem;
  //     }
  //   }
  //   .locationBox{
  //     width: 28.5rem;
  //     .innerLocations{
  //       height: 33.438rem;
  //       max-height: 33.438rem;
  //       overflow: scroll;
  //     }
  //     .singleLocation{
  //       width: 28.5rem;
  //       background-color: #343637;
  //       // height: 5rem;
  //       padding-top: 1.25rem;
  //       padding-bottom: 1.25rem;
  //       padding-left: 1.875rem;
  //       display: flex;
  //       align-items: center;
  //       border-bottom: #4E4E4E 1px solid;
  //       .locationName{
  //         font-weight: 500;
  //         font-size: 1.25rem;
  //         line-height: 1.5rem;
  //         color: #FFFFFF;
  //         margin-bottom: 0;
  //         display: flex;
  //         align-items: center;
  //       }
  //       .locationIcon{
  //         padding-right: 1.25rem;
  //       }
  //       .downArrow{
  //         padding-left: 10.063rem;
  //         height: 1.25rem;
  //       }
  //     }
  //   }
  // }
  // .rightCol{
  //   width: 73.5rem;
    
  //   .innerMap{
  //     width: 73.5rem;
  //     height: 41.5rem;
  //     iframe{
  //       width: 73.5rem;
  //       height: 41.5rem;
  //     }
  //   }
  // }
}


#najcitanijiClanci{
  padding-top: 8.75rem;
}