@import './variables';

#headerKozmetika{
    background: linear-gradient(180deg, rgba(67, 181, 180, 0.67) 0%, rgba(7, 104, 103, 0.84) 100%), url("../public/images/kozmeticki-proizvodi/kozmetika_novello.jpg") no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;

    .hero-body{
        display: flex;
        justify-content: center;
        position: relative;
        top: 13rem;
        .innerTitle{
            padding-top: 3.188rem;
            padding-left: 4.563rem;
            padding-right: 4.563rem;
            padding-bottom: 2.813rem;
            background-color: #43B5B5;
            width: 41.25rem;
            border-radius: 8px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
        }
        .title{
            font-weight: 500;
            font-size: 3rem;
            line-height: 3.5rem;
            color: #fff;
        }
    }
}

#kozmetikaBody{
    padding-top: 15.5rem;

    .kozmetikaTitle{
        font-weight: 500;
        color: #43B5B5;
        font-size: 1.75rem;
        line-height: 2.25rem;
    }
    .kozmetikaSubtitle{
        font-weight: 500;
        color: $titleColor;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .kozmetikaTitleCol{
        width: 38.625rem;
    }
    .kozmetikaTitleImg{
        padding-top: 4rem;
    }
    .kozmetikaSubSubtitle{
        margin-bottom: 0;
    }
}

#kozmetikaBoxes{
    padding-top: 4rem;
    padding-bottom: 6rem;
   
    .secCol{
        position: relative;
        top: 2rem;
    }
    .thirdCol{
        position: relative;
        top: 4rem;
    }
    .colInnerPad{
        position: relative;
        top: -4rem;
    }
    
      
    .kozmetikaBox{
        display: grid;
        justify-items: center;

        .smallerPadding{
            padding-bottom: 1.5rem;
        }
     
        ._outer{
            width: 24.375rem;
            height: 12.5rem;
            position: relative;
            top: -1rem;
        }
        .smallerPadding{
            padding-bottom: 1.5rem !important;
            padding-top: 1.5rem !important; 
        }
        .smallerMargin{
            padding-left: 1.094rem !important;
            padding-right: 1.094rem !important;
        }
        .smallestPadding{
            padding-top: 1.313rem !important;
            padding-bottom: 1.313rem !important;
        }
        ._inner{
            padding: 2.188rem 2.5rem 2.188rem 2.5rem;
            text-align: center;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);

        }
        .kozBoxTitle{
            font-weight: 500;
            text-align: center;
            color: $primaryBlue;
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin-bottom: 0.5rem;
        }
        .kozBoxSubtitle{
            font-weight: 400;
            text-align: center;
            color: $primaryText;
            font-size: 0.875rem;
            line-height: 1.375rem;
            margin-bottom: 1.5rem;
        }
    }
}

.imgKozmetika{
    height: 15.75rem;
    overflow: hidden;
    border-radius: .5rem;
    // background-color: #DEDFE3;
}

.lastimgKozmetika{
    background-color: #DADBDF;
    width: 27rem;
    display: flex;
    justify-content: center;
}