@use './variables' as *;


.colNesavrsenosti{ 
    width: 41.25rem !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        width: auto !important;
         }
}
.nesavrsenostiBottomSpan{
    color: $primaryGreen !important;
    font-weight: 700 !important;
}

.lastParNesavsenosti{
    padding-top: 2rem;
}

.nesavrsenostiTitleSpan{
    color: $primaryGreen !important;
}

.detailsProtivNesavrsenosti{
    .blueTitle{
        margin-bottom: 1rem !important;
        margin-top: 1.5rem !important;
    }
}