@import './variables';

.detailsRegeneracija{ 
    .txtLinReg{
        padding-top: 2rem;
    }
    .blueTitleRegeneracija{
        padding-top: 2rem;
    }
    .is-left {
        .odlikeTitle{
            margin-bottom: 0 !important;
        }
    }
    .detailsList{
        margin-bottom: 1rem;
    }
}
.kozmetikeRegeneracija{
    .colRegen{
        width: 30.438rem !important;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: auto !important;
            }
    }
}

.kozmetikeProizvodiRegen{
    .colProductRegen{
        width: 19.875rem !important;
        max-width: 19.875rem;
        margin-right: 1.5rem;
        justify-content: space-around;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: auto !important;
        //    margin-right: .75rem;
           max-width: 40rem;
           margin-right: auto;
            }
    }
    .threeProductsBox{
        justify-content: center;
    }
}
