@use './variables' as *;


.colTopUcvrscivanje{
    width: 41.25rem !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       width: auto !important;
        }
   
}
.colTopUcvrscivanje1{
    width: 24.125rem !important;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        width: auto !important;
        }
}
.listInnerUcvrscivanje{
    .greenCheckSpacing{
        float: left;
        padding-right: 1.5rem;
    }
    .odlikeTitle{
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.688rem;
        color: $primaryGreen;
        margin-bottom: 4px !important;
    }
    .odlikeItem{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $primaryText;
        display: flex;
        margin-bottom: 0.75rem;
    }
    .detailsList{
        display: flex;
       
        align-items: center;
        width: 24.125rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: auto;
            }
        .greenCheckSpacing{
            flex-grow: 0;
            flex-shrink: 0;
            height: 100%;
        }
    }
    
}

.detailsLinijaUcvrscivanja{
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       width: auto;
        }
    .smallGreenTitle{
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.688rem;
        color: $primaryGreen;
        margin-bottom: 4px !important;
    }
    .blueTitle{
        margin-bottom: 1rem !important;
    }
    .firstParUcvrscivanje{
        margin-bottom: 1.5rem !important;
    }
}

.odlikeItemBold{
    font-weight: 600 !important;
    color: $titleColor !important;
}