@import './variables';

.detailsRegeneracija{
    .txtLinReg{
        padding-top: 2rem;
    }
    .blueTitleRegeneracija{
        padding-top: 2rem;
    }
    .is-left {
        .odlikeTitle{
            margin-bottom: 0 !important;
        }
    }
    .detailsList{
        margin-bottom: 1rem;
    }
}
.kozmetikeRegeneracija{
    .colRegen{
        width: 30.438rem !important;
    }
}

.kozmetikeProizvodiRegen{
    .colProductRegen{
        width: 19.875rem !important;
        max-width: 19.875rem;
        margin-right: 1.5rem;
    }
    .threeProductsBox{
        justify-content: center;
    }
}
