@import './variables';


#navbar {

    height: 5rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           height: 4rem;
        }
        
    .navWrap {
        width: 93vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-transition: all .25s;
        transition: all .25s;
        
        a{
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                line-height: 1rem;
             }
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            height: 4rem;
            width: 100vw;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    // border-radius: 8px;
         }
         
         .navImg{
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                padding-left: 1rem;
             }
         }
    }
    
   

    ul {
        list-style: none;
    }

    .menuList {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        list-style: none;
        margin-top: 0;
        
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: none;
         }

        .downCarretMenu {
            padding-left: .5rem;
            display: flex;
        }

        a {
            padding-right: 2rem;
            &:last-child{
                padding-right: 0;
            }

            li {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $titleColor;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    font-weight: 700;
                    color: $primaryGreen;
                }
            }
        }
    }

    .uslugeDropdown {
        display: none;
    }
    .centriDropdown{
        display: none;
    }
    .tehnologijeDropdown{
        display: none;
    }

    .uslugeDrop, .centriDrop, .tehnologijeDrop {
        .singleCenter {
            border-bottom: 1px solid $titleColor;
            display: flex;
            height: 3rem;
            align-items: center;

            &:last-child {
                border: none;
            }
        }

        &:hover {
            .uslugeDropdown, .centriDropdown, .tehnologijeDropdown {
                display: block;
                position: absolute;
                margin-top: 25rem;
                z-index: 999;
                background: white;
                width: 15rem;
                margin-left: 0;
                list-style-type: none;
                border-radius: 4px;
                box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.05);
               
                a {
                    background-color: white;
                    border-radius: 0;
                    margin: 0.5rem;
                    padding: 0;
                    // border-bottom: 1px solid black;
                    
                    li {
                        color: $primaryGreen;
                        font-weight: 500;
                        line-height: 1rem !important;
                        padding-left: 0.8rem;
                        padding-right: 0.8rem;
                        &:hover{
                            color: $titleColor;
                            // font-size: 1.1rem;
                        }
                    }
                }
            }
            .tehnologijeDropdown{
                margin-top: 18rem;
            }
        }
        // &:hover{
        //     .tehnologijeDropdown{
        //         margin-top: 19rem;
        //     }
        // }
    }
    
    .oNamaDropdown{
        display: none;
    }
    .oNamaDrop{
        
        &:hover{
            .oNamaDropdown{
                display: block;
                position: absolute;
                margin-top: 13rem;
                z-index: 999;
                background: white;
                width: 15rem;
                margin-left: 0;
                list-style-type: none;
                border-radius: 4px;
                box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.05);
                a {
                    background-color: white;
                    border-radius: 0;
                    margin: 0.5rem;
                    padding: 0;
                    // border-bottom: 1px solid black;

                    li {
                        color: $primaryGreen;
                        font-weight: 500;
                        line-height: 1rem !important;
                        padding-left: 0.8rem;
                        padding-right: 0.8rem;
                        &:hover{
                            color: $titleColor;
                            // font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
    .cijeneDropdown{
        display: none;
    }
    .cijeneDrop{
        &:hover{
            .cijeneDropdown{
                display: block;
                position: absolute;
                margin-top: 23rem;
                z-index: 999;
                background: white;
                width: 15rem;
                margin-left: 0;
                list-style-type: none;
                border-radius: 4px;
                box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.05);
                a {
                    background-color: white;
                    border-radius: 0;
                    margin: 0.5rem;
                    padding: 0;
                    // border-bottom: 1px solid black;

                    li {
                        color: $primaryGreen;
                        font-weight: 500;
                        line-height: 1rem !important;
                        padding-left: 0.8rem;
                        padding-right: 0.8rem;
                        &:hover{
                            color: $titleColor;
                            // font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
    

    
    .downCarretMenu {
        padding-left: .5rem;
        display: flex;
    }



}

#navbarTop {
    display: flex;
    height: 3rem;
    background-color: $titleColor;
    
     .centriWrap{
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: none;
        }
    }

    .navbarTopWrap {
        width: 93vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-transition: all .25s;
        transition: all .25s;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
           width: 100vw;
        }
        
        .rightWrap{
            display: flex;
            align-items: center;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: 100vw;
                justify-content: space-between;
             }
        }
    }

    .centriList {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        list-style: none;
        margin-left: 0;
        margin-top: 0;
    }

    // padding-right: 2rem;

    a {
        padding: .5rem;
        background-color: rgba(255, 255, 255, 0.16);
        border-radius: 4px;
        margin-right: .5rem;

        li {
            font-weight: 400;
            font-size: 10.875;
            line-height: 1rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                font-weight: 400;
                color: $primaryGreen;
            }
        }
    }

    .mediaWrap {
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
               padding-right: 1rem;
            }
            
        .mediaIconsList {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            list-style: none;
            margin-left: 0;
            margin-top: 0;
        }

        a {
            background-color: transparent;
            margin-right: 0.688rem;
            padding: 0;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .sarajevoDrop {
        .singleCenter {
            border-bottom: 1px solid $titleColor;

            &:last-child {
                border: none;
            }
        }

        &:hover {
            .sarajevoDropdown{
                display: block;
                position: absolute;
                margin-top: 9rem;
                z-index: 999;
                background: white;
                width: 9rem;
                margin-left: 0;
                list-style-type: none;
                border-radius: 4px;
                box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
                a {
                    background-color: white;
                    border-radius: 0;
                    margin: 0.5rem;
                    padding: 0;
                    // border-bottom: 1px solid black;
                  

                    li {
                        color: $primaryGreen;
                        font-weight: 500;
                        line-height: 0.6rem !important;
                        &:hover{
                            color: $titleColor;
                        }
                    }
                }
            }
        }
    }

    .sarajevoDropdown {
        display: none;
    }


    .downCarretMenu {
        padding-left: .5rem;
        display: flex;
    }

 

}

.besplatniWrap{
    margin-right: 1rem;
    ul{
        margin-top: 0;
        a{
            background-color: transparent !important;
            li{
                background-color: $primaryGreen !important;
                font-weight: 600 !important;
                text-transform: uppercase;
                color: #fff !important;
                padding: .5rem;
                border-radius: 6px;
            }
           
        }
    }
    .buttonWrap{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        list-style: none;
        margin-left: 0;
        margin-top: 0;
    }
}
.bespButtonTop{
   
    // padding-right: .5rem !important;
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        font-size: .85rem;
        margin-right: 0 !important;
        }
        
    @media only screen and (max-device-width : 360px) {
            font-size: .80rem;
            margin-right: 0 !important;
            }
            @media only screen and (max-device-width : 375px) {
                font-size: .80rem;
                margin-right: 0 !important;
                }
                @media only screen and (max-device-width : 385px) {
                    font-size: .80rem;
                    margin-right: 0 !important;
                    }
   
    &:hover{
        background-color: #fff;
    }
}

.navImg{
    img{
        height: 5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            height: 4rem;
            line-height: auto;
            }
    }
    
}