@import './variables';


#navbar{
    
    height: 5rem;

.navWrap{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: all .25s;
    transition: all .25s;
}
ul{
    list-style: none;
}
.menuList{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    list-style: none;
    
    .downCarretMenu{
        padding-left: .5rem;
        display: flex;
    }
    
    a{
        padding-right: 2rem;
        
        li{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $titleColor;
            display: flex;
            justify-content: center;
            align-items: center;
        &:hover{
            font-weight: 700;
            color: $primaryGreen;
        }
        }
    }
}


}

#navbarTop{
    display: flex;
    height: 3rem;
    background-color: $titleColor;
    
    .navbarTopWrap{
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-transition: all .25s;
        transition: all .25s;
    }
    
    .centriList{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        list-style: none;
        margin-left: 0;
        margin-top: 0;
    }
     padding-right: 2rem;
        
     a{
         padding: .5rem;
         background-color: rgba(255, 255, 255, 0.16);
         border-radius: 4px;
         margin-right: .5rem;
   
        li{
            font-weight: 400;
            font-size: 10.875;
            line-height: 1rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        &:hover{
            font-weight: 400;
            color: $primaryGreen;
        }
        }
    }
    
    .mediaWrap{
        .mediaIconsList{
            display: flex;
            align-items: center;
            margin-bottom: 0;
            list-style: none;
            margin-left: 0;
            margin-top: 0;
        }
        a{
            background-color: transparent;
            margin-right: 0.688rem;
            padding: 0;
        }
    }
        
}