@use './variables' as *;

.pokloniteLjepotuBottom{
    padding-bottom: 5rem;
}

#pokloniteMid{
    .pokloniteTitle{
        font-size: 2rem;
        font-weight: 600;
        color: $primaryPink;
        line-height: 2.5rem;
        
    }
    .greenLine{
        font-size: 1.1rem;
        color: $primaryGreen;
        font-weight: 500;
    }
    .imgCol img{
        width: 80%;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: 100%;
            }
    }
    .poklonBon{
        padding-top: 2rem;
    }
}