@import './variables';


#popup-root{
    
    .popup-overlay {
        background-color: rgb(74, 74, 74, 0.5);
    }
    
    .naruciteTermin{
        font-size: 1.8rem;
        color: #fff;
        padding-top: 1rem;
    }
    
    .modal{
        display: block;
        position: relative;
        width: 30rem;
        height: 30rem;
        background-color: #0F1C49;
        border-radius: .5rem;
        .close{
            float: right;
            margin-top: 0;
        }
        .contact{
            
        }
    }
    
    .popup-content{
        position: absolute !important;
        top: 25%;
        left: 35%;
    }
    .container-90{
       .columns{
            display: block;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            text-align: center;
            .column{
                width: 100%;
            }
        }
        .success-wrap{
            h5, p {
                color: #fff;
            }
        }
    }
}

.form{
    .select select{
    width: 100%;
    }
    .select:not(.is-multiple):not(.is-loading)::after{
        top: 2rem;
        border-color: #0F1C49;
    }
    .terminKontakta{
        margin-top: 1.5rem;
    }
    
    .select select::placeholder, .textarea::placeholder, .input::placeholder{
        color: rgb(54, 54, 54);
    }
    
    
}
