@use './variables' as *;


#popup-root{
    
    .popup-overlay {
        background-color: rgb(74, 74, 74, 0.5);
    }
    
    .naruciteTermin{
        font-size: 1.8rem;
        color: #fff;
        padding-top: 1rem;
    }
    
    .modal{
        display: block;
        position: relative;
        width: 30rem;
        height: 30rem;
        background-color: #0F1C49;
        border-radius: .5rem;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            width: 90vw;
            height: 30rem;
            }
        .close{
            float: right;
            margin-top: 0;
        }
    }
    
    .popup-content{
        position: absolute !important;
        top: 25%;
        left: 35%;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            top: 15%;
            left: 5%;
            }
    }
    .popPromocije-content{
        left: 25%;
        @media only screen 
        and (min-width : 1200px) and (max-width : 1600px) {
        left: 15%;
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            left: 0% !important;
            top: 35%;
            }
    }
    .container-90{
       .columns{
            display: block;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            text-align: center;
            .column{
                width: 100%;
            }
        }
        .success-wrap{
            h5, p {
                color: #fff;
            }
        }
    }
    
    .success-wrap{
        height: 99vh;
        h5{
            font-size: 3rem;
        }
        p{
            font-size: 2rem;
        }
    }
}

.form{
    .select select{
    width: 100%;
    }
    .select:not(.is-multiple):not(.is-loading)::after{
        top: 2rem;
        border-color: #0F1C49;
    }
    .terminKontakta{
        margin-top: 1.5rem;
    }
    
    .select select::placeholder, .textarea::placeholder, .input::placeholder{
        color: rgb(54, 54, 54);
    }
    
    .terminKontakta{
        input{
            @media only screen and (min-device-width : 320px) and (max-device-width : 400px) {
                font-size: .83rem;
                height: 2.5rem;
                }
        }
    }
    .odaberiteLineForm{
        select{
            @media only screen and (min-device-width : 320px) and (max-device-width : 400px) {
                font-size: .83rem;
                height: 2.5rem;
                }
        }
    }
    
}
