@import './variables';


.klijentiSection{
    
    .pokloniteTitle{
        color: $primaryGreen;
    }
    .novellopink{
        color: $primaryPink;
    }
    .imgCol{
        img{
            border-radius: .5rem;
        }
    }
    .videoInner{
        padding-top: 3rem;
        .videoPl{
            border-radius: .5rem;
        }
      
    }
}
