@import './variables';


.klijentiSection{
    
    .pokloniteTitle{
        color: $primaryGreen;
    }
    .novellopink{
        color: $primaryPink;
    }
    .imgCol{
        img{
            border-radius: .5rem;
        }
    }
    .videoInner{
        padding-top: 3rem;
        .videoPl{
            border-radius: .5rem;
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                width: 370px !important;
                 }
        }
      
    }
}
