@import './variables';

#titleTehnologije{
    background: url("../public/images/tehnologije/headerImg.png") no-repeat;

    .hero-body{
        padding: 3rem 1.5rem;
    }
    .title{
        font-weight: 500;
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;
        color: #fff;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

#tehnologijeBody{
    padding-top: 3rem;
    padding-bottom: 5.5rem;

    .titleSingleTeh{
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.5rem;
        color: $titleColor;
        margin-bottom: 0.5rem;
    }
    .textSingleTeh{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $primaryText;
    }
    .contentTehnologije{
        margin-top: 1rem;
    }
    .singleTehnologija{
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
        margin-bottom: 1.5rem;
        &:last-child{
            margin-bottom: 0px;
        }
        .inner{
            padding-left: 2rem;
            padding-right: 2rem;
            position: relative;
            top: -3rem;
        }
    }
    .detaljnijeTehnologije{
        margin-top: 2rem;
    }
    .linkTehnologije{
        padding-top: 3rem;
    }

}