
.testimonialSlider .bghjHX, .kNBmiK{
    max-width: 83.375rem;
}
.testimonialSlide{
    width: 27rem;
}
.testimonialInner{
    width: 27rem;
    background: #fff;
    box-shadow: 0px 1.875rem 2.5rem rgba(212, 217, 232, 0.2);
    border-radius: 0.625rem;
    padding: 2rem 1.938rem;
}
.testimonialTitle{
    font-family: $mainFont;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: $titleColor;
    margin-bottom: 0.5rem !important;
}
.testimonialSubtitle{
    color: $primaryText;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
}
.testimonialBellow{
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 2.313rem;
    img{
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 100px;
    }
}

.testimonialName{
    padding-top: 0.5rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    color: $titleColor;
}
.testimonialTown{
    color: $primaryGreen;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
}

.sc-htpNat span{
    border-radius: 0.625rem;
}
.kVtMtA, .bhRnqO{
    top: 30% !important;
}